numpy==1.23.5               
matplotlib==3.5.3          
scipy==1.9.3                
python-igraph==0.10.4       
trajectory_planning_helpers==0.75  
flake8==5.0.4             
velocity_optimization>=0.4  
pyzmq==23.2.1            